Source: pulse-xmpp-agent-deps
Section: admin
Priority: extra
Maintainer: Nicolas Lécureuil <nicolas.lecureuil@siveo.net>
Build-Depends: debhelper (>= 5.0.37.2), wget
Standards-Version: 3.9.4
Homepage: http://www.siveo.net/

Package: pulse-xmpp-agent-deps
Architecture: all
Depends: ${misc:Depends}
Description: Pulse2 XMPP Offline dependancies
